uvicorn==0.48.0
# https://github.com/fair-wizard/madmp-evaluation-plugin/tree/v0.1.0
madmp-evaluation-plugin-service @ git+https://github.com/fair-wizard/madmp-evaluation-plugin.git@073cfad6ef434e317da1818e02efbb3c78f5445d#subdirectory=service
# https://github.com/ds-wizard/ai-document-plugin (develop)
ai-document-plugin-service @ git+https://github.com/ds-wizard/ai-document-plugin.git@91f39fdc994525f7235cafbc05a9de7e14695b58#subdirectory=service
